body {
  background: #f3f2f0;
  color: #444;
}
main {
  max-width: 1024px;
  margin: 0 auto;
}
section {
  background: #fefefe;
  border-radius: 8px;
  padding: 0.5em 2em;
  margin: 2em 0;
  box-shadow: #ddd 0px 2px;
}
section section {
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 120px;
  line-height: 1;
  text-align: center;
}
h1 .sub {
  display: block;
  font-family: sans-serif;
  font-size: 20px;
}
h1 a:link,
h1 a:visited {
  color: #444;
}
.shin {
  color: #ff006d;
}
.poi {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  font-weight: 800;
}
.im {
  font-size: 1em;
  color: #999;
}
a:link,
a:visited {
  color: #1a73e8;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

h2 {
  font-size: 50px;
  margin: 0.25em 0 0.5em;
}
h2 a {
  display: block;
}
h2 .im {
  font-size: 40px;
}
h2 a:link,
h2 a:visited {
  color: #444;
}
h2 a:hover,
h2 a:active {
  color: #000;
  text-decoration: underline;
}
h3 {
  font-size: 25px;
}
footer {
  font-size: 40px;
  text-align: center;
  margin: 2em;
}
footer {
  font-size: 40px;
  text-align: center;
  margin: 2em;
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  text-decoration: none;
}

.blonze-sponsor .im-trophy {
  color: #cd7f32;
}

.silver-sponsor .im-trophy {
  color: #c0c0c0;
}

.gold-sponsor .im-trophy {
  color: #ffd700;
}
